@import "variables.less";
@import "components.less";

/* index.html */
html,body {
    font-family: @font-family;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: @flex-direction;
    justify-content: @justify-content;
    align-items: @align-items;
    min-height: 100vh;
}
.image-circle img {
    width: 750px; 
    height: 750px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}
.left-link,
.right-link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #007bff;
    padding: 10px 20px;
    border: 1px solid #007bff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
    white-space: nowrap; /* Prevents text wrapping */
}

.left-link:hover,
.right-link:hover {
    background-color: #007bff;
}

/*mixins*/
.index-container h1 {
    .heading-style;
}

.index-container h2 {
    .subheading-style;
}

/*login.html*/

.login-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: @align-items;
    gap: 40px; /* Space between login container and image */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; /* Center horizontally */
    padding: 20px;
}

.login-container h1{
    .heading-style
}

.login-container h2 {
    .subheading-style
}