<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/mustache@4.2.0/mustache.min.js"></script>    
    <title>Welcome to your BookShelf</title>
</head>
<body>
    <!-- Navigation Section -->
    <nav class="navigation">
        <img src="/static/images/Logo.png" aria-label="Book Logo" alt="Book Logo" class="logo">
        <div class="button-bar">
            <a href="{{ url_for('add_book') }}" class="btn">Add a Book</a>
            <a href="dashboard" class="btn">Dashboard</a>
            <a href="wishlist" class="btn">Wishlist</a>
            <button onclick="window.location.href='/logout'" class="btn">Log Out</button>
            <input class="search-box" type="text" id="search-books" name="search" placeholder="Search Books">
            <button class="search-button">Search</button>
        </div>
    </nav>
    <!-- Welcome message container --->
    <div id="dashboard-message-container" class="dashboard-message"></div>
    <script>
        const firstname = "{{ firstname }}";  // Pass data from Flask to JS
    </script>
    <script src="{{ url_for('static', filename='app.js') }}" defer></script>

    <div class="sections-container">
        <div class="section1">
            <h3>Just Added!</h3>
            <ul class="list">
                {% if book_titles %}
                {% for title in book_titles %}
                    <li>{{ title }}</li>
                {% endfor %}
            {% else %}
                <li>No books added yet!</li>
            {% endif %}
            </ul>
            <a href="{{ url_for('add_book') }}" class="btn btn-primary">Add More Books</a> <!-- Link to Add Books -->
        </div>
        <div class="section2">
            <h3>Recommendations</h3>
            <ul class="list">
                <li style="color: red;">Coming Soon!</li> <!-- Red text -->
            </ul>
        </div>
        <div class="section3">
            <h3>Wishlist</h3>
            <ul class="list">
            {% if wishlist_titles %}
                {% for title in wishlist_titles %}
                    <li>{{ title }}</li>
                {% endfor %}
            {% else %}
                <li>No books in wishlist!</li>
            {% endif %}
            </ul>
            <a href="{{ url_for('wishlist') }}" class="btn btn-primary">View or Add to Wishlist</a> <!-- Link to Add Books -->
        </div>
        <div class="section4">
            <h3>Overdue</h3>
            <ul class="list">
                <li style="color: red;">Coming Soon!</li> <!-- Red text -->
            </ul>
        </div>
    </div>
    
    </div>

    <!-- Footer Section -->
    <footer>
        <div class="footer-links">
            <a href="#">Account Settings</a>
            <a href="#">Blog</a>
            <a href="#">About Us</a>
        </div>
    </footer>
    


</body>
</html>
